doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="Orbital configuration" content="Orbital configuration of chemical elements")
    meta(name="viewport" content="width=device-width" initial-scale="1.0")
    link(href="styles.css" rel="stylesheet")
    link(href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" rel="stylesheet")
    link(href="icons/element.png" rel="icon")
    link( rel="stylesheet" href="font-awesome/css/font-awesome.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed&amp;subset=latin-ext" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css")
    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.0/jquery-ui.js")
    script(src="scripts/functions.js")
    script(scr="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" rel="stylesheet")
    title Orbital configuration
  body
    div.navbar-fixed
      nav.blue.darken-1
        div.nav-wrapper
          container 
            a(href="#").brand-logo ChemSite
          ul(id="nav-mobile" ).right.hide-on-med-and-down
               li
                 a(href="index.html") Orbital Configurator
               li 
                 a(href="isomers.html") Isomers        
    .custom-scrollbar
    .form-style
      input(type="text" placeholder="Enter element name" id="elements-box").textbox-style.input-field
      a(onclick="dealWithInput()" id="btnInput").btn-style Search&nbsp
        i(aria-hidden="true").fa.fa-search
    .periodic-table
      include mixins/_table
    .result-div
      div(id="result-content")  <br/> <br/>
      a(href="" id="result-href" target="_blank") More info about
    