body {
  overflow: hidden; }

a:hover {
  cursor: pointer; }

.btn-style {
  display: inline-block;
  width: 130px;
  position: absolute;
  top: -1px;
  left: 250px;
  cursor: pointer;
  font-family: "Roboto";
  display: inline;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: white;
  padding: calc(0.5em + 0.5px) calc(1em + 1.05px);
  border-radius: 0;
  transition: 500ms;
  letter-spacing: 0.02em;
  background: #1E90FF;
  box-shadow: 0px 0px 0px 2px #1E90FF inset, 0px 0px 0px 4px white inset; }
  .btn-style:hover {
    box-shadow: none; }

.textbox-style {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  font-size: 20px;
  font-family: "Roboto";
  color: #1E90FF;
  height: calc(1.4em + 3.01px);
  padding: 0.2em; }

.form-style {
  position: absolute;
  top: 10%;
  left: calc(50% - 184px); }

.periodic-table {
  position: absolute;
  left: calc(50% - 368px);
  top: 30%; }

.result-div {
  position: absolute;
  top: 80%;
  left: calc(50% - 368px);
  font-size: 20px;
  height: 200px; }

#result-href {
  text-decoration: none;
  visibility: hidden; }

.classy-class {
  position: absolute;
  top: 0;
  left: 25%; }
